body {
	margin:0;
	padding:0;
	background-color: #F3F3F3;
}

a {
	cursor:pointer;
}

.navbar {
	display: block;
	margin: 0 auto;
	background-color:#C82820;
}

.navbar-brand img {
	max-width:150px;
}

.splash {
	height:100vh;
	width:100%;
	/* background-color:#C82820; */
	background-image:url('../img/cover.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
}

.img-center {
	display: block;
	margin: 0 auto;
}

.splash img {
	max-width:300px;
}

.who-won-img {
	width:80px;	
}

.splash h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 4em;
	font-weight:300;
	color:#FFFFFF;
}

.arrow {
	position:absolute;
	top:85vh;
	left: 0;
	right: 0;
	margin-left:auto;
	margin-right:auto;
}

.arrow img {
	display: block;
	margin: 0 auto;
	max-width:100px;
}

.cat-list span {
	/* text-align:center; */
	/* color: #000000; */
	/* font-size: 1.7em; */
	/* border-bottom:2px solid #C82820; */
}


.text-area {
	min-height:100vh;
	padding:5% 0%;
}

.round-header {
	font-size: 2.4em;
	border-bottom: 3px solid #C82820;
	padding: 0px 10px 3px 10px;
	/* padding-bottom: 3px. */
}
.section-header {
	font-size: 2em;
	/* border-bottom: 3px solid #C82820; */
	padding: 0px 10px 3px 10px;
	/* padding-bottom: 3px. */
}

.footer {
    background: #F3F3F3;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 20px;
    height: 50px;
    line-height: 50px;
    border-top: 3px solid #C82820;
}

.footer a, .footer a:visited, .footer a:hover {
	color:#C82820;
}


.text-area a, .text-area a:visited {
	color: rgb(55, 58, 60);
	text-decoration: none;
	border-bottom: 1px solid #C82820;
}

.text-area a:hover {
	color: #C82820;
	text-decoration:none;
}

.text-area h5{
	font-size: 1em;
}

.section-header a{
	border-bottom: none;
}

.gif-container {
	padding: 25px;
}

.gif-container img{
	height:auto;
	min-width:100%;
	max-width:100%;
}
.gif-container p {
	line-height:0.5;
	transform: translateY(-9px);
	-webkit-transform: translateY(-9px);
	font-size: 0.7em;
}
.gif-container p a, .gif-container p a:visited {
	background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8));
	color: #FFFFFF;
	padding: 1px 3px;
	border-bottom: none;
	text-decoration: none;
}
.gif-container p a:hover {
	color: #FFFFFF;
	border-bottom: 2px solid #C82820;
}

.seattle{
	font-size: 2em;
	font-style: italic;
}

.red-underline {
	padding: 0 5px;
	font-size: 1.2em;
	border-bottom: 2px solid #C82820;
}

.copyright{
	font-size: 0.8em;
	color: #777777;
}

.sup-small {
	vertical-align: super;
	font-size: small;
}

a.no-underline {
	border-bottom:none;
}